body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e272e;
    color: #ecf0f1;
    display: flex;
    
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: #f39c12;
    text-align: center;
}

form {
    background-color: #2f3640;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-bottom: 0px;
    font-weight: 600;
    display: inline-block;
}


button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    background-color: #c0392b;
}

h2 {
    margin-top: 20px;
    color: #f39c12;
    text-align: center;
}

p#password-output {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
    background-color: #2f3640;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 320px;
    text-align: center;
    word-wrap: break-word;
}
